<h1>Submit A Puppy</h1>
<p>Currently we only read from Reddit and Imgur. All submissions are moderated. Required fields are marked with an asterisk. Your IP address will be logged along with the submission.</p>
{{#if post}}
  {{#if result}}
    <div class="alert alert-success">Alright! We got your submission, and will look into it.</div>
  {{else}}
    <div class="alert alert-danger">Something's wrong with your submission. Probably a bad URL. We only take URLs from Reddit right now.</div>
  {{/if}}
{{/if}}
<form method="post" action="/submit">
  <div class="form-group">
    <label for="redditURL">* Reddit URL</label>
    <input type="text" class="form-control" id="redditURL" name="redditURL">
  </div>
  <div class="form-group">
    <label for="email">Your Email</label>
    <input type="text" class="form-control" id="email" name="email">
  </div>
  <div class="text-center">
    <button type="submit" class="btn btn-default">Submit</button>
  </div>
</form>
