div.buttons {
  float: left;
  position: relative;
}

.centered {
  position: relative;
  text-align: center;
}

.puppy-image {
    min-height: 600px;
    max-height: 90vh;
}

.license {
    font-size: 12px;
}

.license a {
    color: inherit;
    font-weight: bold;
}

.permalink { margin: 2em 0; }

#permalink-input {
    font-size: 12px;
    width: 25em;
    text-align: center;
}
