div.buttons {
  float: left;
  position: relative;
}

.centered {
  position: relative;
  text-align: center;
}

.puppy-image {
    max-height: 90vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    max-width: 100%;
    height: auto;
}

.license {
    font-size: 12px;
}

.license a {
    color: inherit;
    font-weight: bold;
}

.permalink { margin: 2em 0; }

#permalink-input {
    font-size: 12px;
    width: 25em;
    text-align: center;
}
